<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<meta name="author" content="Gcalls">
        <meta name="description" content="Bring E-Commerce to SEA">
        <meta name="keywords" content="gcalls, gcall, call, hotline, call center, call center in a box">
		
		<!-- SITE TITLE -->
		<title>GCalls - Bring E-Commerce to SEA</title>			
		
		<!-- favicon -->
        <link rel="icon" type="image/png" href="img/favicon.png">
		
	</head>
	
    <body data-spy="scroll" data-offset="80">

		<!-- Latest jQuery -->
		<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

		<!-- DectecIP -->
		<script src="js/detectIP.js"></script>

    </body>
</html>
