/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/


@font-face {
   font-family: SFUFuturaBold;
   src: url('../fonts/SFUFuturaBold.eot');
    src: url('../fonts/SFUFuturaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUFuturaBold.woff2') format('woff2'),
        url('../fonts/SFUFuturaBold.woff') format('woff'),
        url('../fonts/SFUFuturaBold.ttf') format('truetype'),
        url('../fonts/SFUFuturaBold.svg#SFUFuturaBold') format('svg');
   font-weight: bold;
} 
@font-face {
   font-family: SFUFuturaHeavy;
   src: url('../fonts/SFUFuturaHeavy.eot');
    src: url('../fonts/SFUFuturaHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUFuturaHeavy.woff2') format('woff2'),
        url('../fonts/SFUFuturaHeavy.woff') format('woff'),
        url('../fonts/SFUFuturaHeavy.ttf') format('truetype'),
        url('../fonts/SFUFuturaHeavy.svg#SFUFuturaHeavy') format('svg');
}
@font-face {
   font-family: SFUFuturaRegular;
   src: url('../fonts/SFUFutura.eot');
    src: url('../fonts/SFUFutura.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUFutura.woff2') format('woff2'),
        url('../fonts/SFUFutura.woff') format('woff'),
        url('../fonts/SFUFutura.ttf') format('truetype'),
        url('../fonts/SFUFutura.svg#SFUFutura') format('svg');
}
body {
    font-family: 'SFUFuturaRegular',sans-serif;
    font-size: 14px;
    color: #93989B;
    overflow-x: hidden;
    margin: auto;
    background: #fff;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    /*color: #fff;*/
    font-family: "SFUFuturaRegular",sans-serif;
    font-weight: 700;
}
a {
    font-family: "SFUFuturaRegular",sans-serif;
    text-decoration: none;
    transition:0.5s all ease;
    -webkit-transition:0.5s all ease;
    -moz-transition:0.5s all ease;
    -o-transition:0.5s all ease;
    -ms-transition:0.5s all ease;
}
a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
}
p {
    line-height: 2;
    margin-bottom: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}


/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.status,
.status-mes {
    background-image: url(../img/status.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}
.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}
.status-mes h4 {
    color: #333;
    margin-top: 30px;
	text-transform: uppercase;
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
    background: #3c2566 none repeat scroll 0 0;
    border-radius: 50px;
    bottom: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    height: 40px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    padding: 0px 12px;
    position: fixed;
    right: 5px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.topcontrol:hover {
    background: #3c2566;
    color: #fff;
}
/*END SCROLL TO TOP*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title { margin-bottom: 60px }
.section-title h2 {
    font-weight: 100;
    color: #333;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 10px;
	position:relative;
}
.section-title h3 {
    font-family: "SFUFuturaRegular",sans-serif;
    font-weight: 100;
    color: #333;
    margin: 0;
    font-size: 16px;
    padding-bottom: 10px;
    position:relative;
}
.section-title span {
    background-color: #fddf4d;
    display: block;
    height: 50px;
    margin: 15px auto;
    width: 10px;
	position:relative;
}
.section-title-black {
    font-family: "SFUFuturaRegular",sans-serif;
    color: #3c2566!important;
    position:relative;
}
.section-title-purple {
    font-family: "SFUFuturaRegular",sans-serif;
    color: #3c2566!important;
    position:relative;
}
.section-title-yellow-span { background: #fddf4d!important;position:relative; }
.section-title p {
  margin: auto;
  padding: 0 20px;
  width: 70%;
}

/*END SECTION TITLE DESIGN*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 02. START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.navbar-default {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #fff;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #3c2566 !important;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #3c2566 !important;
    background-color: transparent;
}
.navbar-brand { padding: 0px }
.navbar-brand img {
    width: 120px;
    margin-left: 120px;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #fff }
.menu-top { background: rgba(0, 0, 0, 0) none repeat scroll 0 0 }
.menu-top li a {
    font-family: "SFUFuturaRegular",sans-serif;
    color: #fff !important;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
}
.page-scroll {
    display: inline-block;
}
.page-scroll::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fddf4d;
    transition: width .3s;
}
/*.page-scroll:focus::after,*/
.page-scroll:hover::after,
.page-scroll:active::after,
.page-scroll:visited::after
{
    width: 100%;
    transition: width .3s;
}
.menu-top li a:hover { color: #3c2566!important }

.navbar-default.menu-shrink {
    background-color: #3c2566;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
}

.navbar-default.menu-shrink li a { color: #fff!important }
.navbar-default.menu-shrink li a:hover { color: #3c2566 !important }
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #3c2566 }
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
.welcome-area,
.welcome-slider-area,
.welcome-slider-area div { height: 617px }
.welcome-slider-area div.single-slide-item-tablecell,
.welcome-slider-area div.single-slide-item-tablecell div { height: auto }
.single-slide-item-table {
    display: table;
    text-align: center;
    width: 100%;
}
.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.single-slide-item {
    position: relative;
    z-index: 1;
}
.single-slide-item:after {
    position: absolute;
    /*background: rgba(0,0,0,0.6)*/;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.slide-1 {
    background: url(../img/HOME.png) scroll 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.header-btns {
    margin-top: 0px;
    margin-bottom: 30px;
}

.header-btns a {
    font-family: "SFUFuturaHeavy",sans-serif;
    font-weight: 600;
}
.btn-try {
    color: #3c2566;
    background-color: #fddf4d;
    margin-top: 30px;
}

.btn-try,
.btn-try:focus,
.btn-try:active,
.btn-try:visited
{
    font-weight: 600px;
    background: transparent;
    background-color: #fddf4d;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 23px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}
.btn-try:hover {
    background-color: #3c2566;
    color: #fddf4d;
}
.btn-download {
    margin-right: 10px;
    border-radius: 5px;
}

.btn-download img{
    padding: 0 10px;
    margin: 0 -5px;
    height: 50px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
     -o-transition: all 1s;
}

.btn-download img:hover {

    transform: scale(1.25) rotateZ(-0deg);
    -moz-transform: scale(1.25) rotateZ(-0deg);
    -webkit-transform: scale(1.25) rotateZ(-0deg);
    -o-transform: scale(1.25) rotateZ(-0deg);
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.single-slide-item h2 {
    font-family: "SFUFuturaBold",sans-serif;
    color: #f8f8f8;
    font-size: 55px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.single-slide-item h3 {
    font-weight: 100;
    color: #fff;
    font-size: 30px;
    letter-spacing: 14px;
    margin-top: 0;
}
.single-slide-item p {
    color: #fff;
    margin: auto auto 30px;
    width: 70%;
}

.btn-home-bg {
    background: #3c2566 none repeat scroll 0 0;
    border: 2px solid #3c2566;
    border-radius: 0;
    color: #fff;
    font-family: "SFUFuturaHeavy",sans-serif;
    font-size: 12px;
    padding: 12px 30px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.btn-home-bg:hover,
.btn-home-bg:focus {
    background: #fff;
    color: #333;
    border: 2px solid #fff;
}

/*START TEXT SLIDER*/
.text_slider {
position: relative;
height:700px;
}
.text_slider:before {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}

/*START TEXT SLIDER*/

/*START HTML5 VIDEO*/
.html-video {
position: relative;
height:700px;
}
.html-video:before {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.html-video {
    top: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.slider-caption {
    position: absolute;
    top: 33%;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 15;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.slider-caption p {
  width: 60% !important;
}
video { min-width: 100% }
/*END HTML5 VIDEO*/
/*START YOUTUBE HOME DESIGN*/
.youtube_bg {
position: relative;
height:700px;
}
.youtube_bg:before {
    background: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
}
.home_text h2 {
    color: #f8f8f8;
    font-size: 40px;
	padding-top:250px;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.home_text p {
    color: #fff;
    margin: auto auto 30px;
    width: 70%;
}

/*
* ----------------------------------------------------------------------------------------
* 06.START SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/
.our_services{
    background-color: #F4F4F4;
}
.service {
/*background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;*/
    height: 300px;
    margin: 10px 0 50px;
    padding: 0 0px;
    transition: all 0.4s ease 0s;
}
.icon {
    /*background: #fff none repeat scroll 0 0;*/
    border-radius: 100px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    /*color: #333;*/
    border-color: 2px solid #fddf4d;
    display: inline-block;
    /*font-size: 24px;*/
	margin-bottom: 20px;
    height: 120px;
    line-height: 60px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 120px;
}
.carousel-indicators-slider {
    bottom: 30px !important
}
.center-block {
    display: inline-block;
}
.service h4 {
    font-family: "SFUFuturaBold",sans-serif;
    color: #3c2566;
    letter-spacing: 1px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.service h5 {
    font-size: 12px;
    font-family: "SFUFuturaBold",sans-serif;
    color: #999999;
    letter-spacing: 5px;
    margin: -13px 0 20px;
    text-transform: uppercase;
}
.service img {
    margin-bottom: 26px;
    border: 3px solid #fddf4d;
    width: 120px;
    border-radius: 500px;
    height: 120px;
}
.service p {
    font-family: "SFUFuturaRegular",sans-serif;
    text-align: justify;
    color: #737373;
    line-height: 21px;
}
.single_testimonial{
    background: #b3b3b3 none repeat scroll 0 0;
}
.single_testimonial h3{
    text-transform: uppercase;
    margin-top: 20px;
    font-size:18px;
}
.single_testimonial h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.single_testimonial p{
    margin: auto auto 0;
    width: 70%;
}

.carousel-indicators li {
    border: 1px solid #00acc2;
    border-radius: 12px;
    height: 12px;
    margin: 0 1px;
    width: 12px;
    background: #00acc2;
}
.carousel-indicators .active { margin: 0 1px }
.site-wrapper { margin-bottom: 65px }
#team__carousel { margin-bottom: 70px }
#team__carousel .carousel-indicators { bottom: -47px }
#teamcarousel { margin-bottom: 70px }
#teamcarousel .carousel-indicators { bottom: -80px }
.carousel-control { display: none }


/*
* ----------------------------------------------------------------------------------------
* 06.END SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/

/*START ABOUT US*/

.section-titles {
    margin-bottom: 50px;
    font-family: "SFUFuturaRegular",sans-serif;
}
.section-titles p {
    margin: 0 80px;
    color: #3c2566;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: justify;
}
.section-titles h3 {
    margin: 0 80px;
    color: #3c2566;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.section-titles h4 {
    margin: 0 80px;
    color: #3c2566;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
}

/*END ABOUT US*/

/*START WHYGCALL*/
.whygcalls {
    background-image: url("../img/whygcallsbackground.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.bg_whygcall {
    bottom: -350px;
    width: 380px;
    position: absolute;
    height: 440px;
}
.bg_whygcall img{
    width: 67%;
    margin-left: 66px;
    text-align: center;
}
.feature_gcall {
    position: relative;
}
.feature_gcall img {
    margin-top: 40px;
    margin-bottom: 0px;
}
.feature_gcall h3 {
    margin-left: 117px;
    width: 40%;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    border: 5px solid #fff;
}
.feature_gcall ul {
    margin-top: 25px;
    margin-left: 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
}
.feature_gcall li {
    list-style: none;
    margin: 0 0 4px 9px;
    text-indent: -7px;
}
.feature_gcall ul li:before {
    top: 3px;
    color: #fff;
    content: "•";
    position: relative;
    left: -17px;
    font-size: 24px;
    margin-left: -6px;
}

/*END WHYGCALL*/

/*START PRICING*/
#price {
    background: #f4f4f4;
}

#price .btn {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-weight: 700;
    font-size: 12px !important;
}

#price .btn:focus {
    outline: none;
    box-shadow: 0 0 0 0 #ffffff;
}

#price .btn span {
    margin-left: -10px;
    opacity: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s
}

#price .btn:hover span {
    margin-left: 5px;
    opacity: 1;
}

#price .btn-lg {
    color: #fff;
    padding: 15px 65px;
    font-size: 16px;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
}
#price .btn-lgs {
    font-family: "SFUFuturaHeavy",sans-serif;
    padding: 15px;
    font-size: 16px !important;
    border-radius: 20px;
    margin-top: 15px;
    border: 2px solid #3c2566;
    color: #3c2566;
}
#price .btn-info {
    font-size: 14px;
    margin-top: 20px;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
    border: none;
}
#price .btn-info:hover {
    color: #fff;
}
/* New-Class */

.gradient-primary-text,
.gradient-primary-icon {
    color: #3cd2cf;
}

.gradient-bg {
    position: relative;
    color: #ffffff;
    overflow: hidden;
    z-index: 1;
}

.gradient-bg:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    content: "";
    z-index: -1;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
    box-shadow: 0px 3px 65px 0px rgba(255, 255, 255, 0.24);
}

.gradient-bg:after {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    content: "";
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: -1;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
    box-shadow: 0px 3px 65px 0px rgba(255, 255, 255, 0.24);
}

.gradient-bg:hover:before {
    top: 100%;
}

.gradient-bg:hover:after {
    top: 0;
}

.slow {
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* end */

.pricing-item {
    width: 356px;
    height: 484px;
    border: 2px solid #683cba;
    padding: 30px 30px;
    margin: 0 17px;
    -webkit-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.37);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.pricing-item:hover {
    box-shadow: 0px 0px 15px 1px #757373;
    -webkit-box-shadow: 0px 0px 15px 1px #757373;
    -moz-box-shadow: 0px 0px 15px 1px #757373;
    -o-box-shadow: 0px 0px 15px 1px #757373;
}

.pricing-item h1 {
    font-family: 'SFUFuturaBold',sans-serif;
    font-size: 66.6px;
    color: #683cba;
    float: left;
    font-weight: 900;
    margin: 0px;
}

.pricing-item h3 {
    font-family: 'SFUFuturaHeavy',sans-serif;
    color: #4d4d4d;
    font-size: 20px;
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
}

.pricing-item h4 {
    font-family: 'SFUFuturaHeavy',sans-serif;
    border-bottom: 2px solid #683cba;
    color: #683cba;
    font-size: 22.6px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 7px;
}

#price .pricing-item h5 {
    margin: 0;
    text-align: left;
    font-family: 'SFUFuturaHeavy',sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #683cba;
}
#price .pricing-item p {
    color: #000;
    text-align: left;
}
.pricing-body {
    border-bottom: 2px solid #683cba;
    padding-bottom: 7px;
}

.pricing-title {
    margin-top: -40px;
    margin-left: 15px;
    display: inline-block;
}

.pricing-item .pricing-body .pricing-title h2 {
    font-family: 'SFUFuturaHeavy',sans-serif;
    margin: 0px;
    font-weight: 700;
    color: #683cba;
}

.pricing-title h3 {
    font-family: 'SFUFuturaHeavy',sans-serif;
    padding: 3px 5px;
    letter-spacing: 4px;
    text-align: center;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 55px;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #000;
    text-align: center;
    height: 1.5em;
}

.hr-text:before {
    content: '';
    background: -webkit-linear-gradient(left, transparent, #000, transparent);
    background: linear-gradient(to right, transparent, #683cba, transparent);
    position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    height: 8px;
}

.hr-text:after {
    font-family: 'SFUFuturaRegular',sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #683cba;
    padding: 0 .5em;
    line-height: 1.5em;
    font-weight: 900;
    background-color: #f4f4f4;
}
.price-footer {
    text-align: center;
    margin-top: 20px;
}

.sale-box {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 233px;
    width: 143px;
    text-align: center;
    z-index: 0;
    right: 0;
}
.sale-box span.on_sale {
    font-family: "SFUFuturaRegular", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
    text-transform: uppercase;
    padding: 58px 0px 0px 33px;
    width: 281px;
    text-align: center;
    display: block;
    position: absolute;
    left: -37px;
    top: -41px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(40deg);
    box-shadow: 3px -4px 13px 3px rgba(0,0,0,0.75);
}

/*END PRICING*/

/* MODAL START */
#pricing-detail .btn-default,
#pricing-detail .btn-primary {
    position: relative;
    padding: 9px 46px 9px 21px;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}
#pricing-detail .btn-primary {
    border: 0 #712095;
    color: #fff;
    background-image: -webkit-linear-gradient( -90deg, rgb(204, 0, 255) -80%, rgb(133, 68, 194) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(204, 0, 255) -15%, rgb(133, 68, 194) 100%);
    transition: all .3s ease-in-out;
}
#pricing-detail .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #51176b;
    border-color: #3b114e;
}
#pricing-detail .table1 .btn-primary {
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}
#pricing-detail .table1 .btn-primary {
    color: #fff;
}
#pricing-detail .resource {
    padding: 10px 0;
    background: #8641A6;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}
#pricing-detail .table1 .heading-block:after,
#pricing-detail .table1 .price-box:after {
    content: " ";
    display: block;
    clear: both;
}

#pricing-detail {
    margin: 0 0 21px;
    border-bottom: 1px solid #e9e9e9
}

#pricing-detail .panel-body {
    border: 0;
    padding: 0;
}

#pricing-detail .panel {
    margin: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0
}

#pricing-detail .panel-heading {
    padding: 0;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    background: #e9e9e9;
    border-width: 0 1px;
    border-style: solid;
    border-color: #d5d5d5;
}
#pricing-detail .panel-heading>div {
    float: left;
    position: relative;
    line-height: 32px;
    padding: 25px 10px 21px;
}

@media only screen and (max-width:1199px) {
    #pricing-detail .panel-heading>div {
        min-height: 63px;
        padding: 15px 10px 15px 50px;
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .panel-heading>div {
        min-height: 51px;
        padding: 10px 10px 10px 40px;
    }
}

@media only screen and (max-width:767px) {
    #pricing-detail .panel-heading {
        border: 0;
    }
    #pricing-detail .panel-heading>div {
        min-height: inherit;
    }
}

#pricing-detail .panel-heading .col1 {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 30px 10px 19px 30px;
    /*border-right: 1px solid #d5d5d5;*/
}

@media only screen and (max-width:767px) {
    #pricing-detail .panel-heading .col1 {
        border: 0;
        width: 100%;
    }
}

@media only screen and (max-width:1199px) {
    #pricing-detail .panel-heading .col1 {
        padding: 21px 10px 20px 60px
    }
    #pricing-detail .panel-heading .col1:before {
        top: 10px;
        left: 15px;
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .panel-heading .col1 {
        padding: 10px 10px 10px 40px
    }
    #pricing-detail .panel-heading .col1:before {
        left: 10px;
        font-size: 26px;
        line-height: 28px;
    }
}

#pricing-detail .panel-heading .col2 {
    width: 22.5%;
}

@media only screen and (max-width:767px) {
    #pricing-detail .panel-heading .col2 {
        width: 100%;
        display: none;
    }
}

#pricing-detail .panel-heading .col3 {
    width: 24%;
    -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, .2);
}

@media only screen and (max-width:767px) {
    #pricing-detail .panel-heading .col3 {
        width: 100%;
        display: none;
        box-shadow: none;
    }
}

#pricing-detail .panel-heading .col4 {
    width: 20%;
}

#pricing-detail .panel-heading .col5 {
    width: 20%;
}

@media only screen and (max-width:767px) {
    #pricing-detail .panel-heading .col4 {
        width: 100%;
        position: absolute;
    }
    #pricing-detail .panel-heading .col5 {
        width: 100%;
        position: absolute;
    }
}

#pricing-detail .panel-title {
    font-size: 22px;
    margin: 0;
    padding: 0;
    display: block;
    color: #303030;
    max-width: 100%;
    /*overflow: hidden;*/
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (max-width:1199px) {
    #pricing-detail .panel-title {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .panel-title {
        font-size: 12px;
        line-height: 30px;
    }
}

#pricing-detail .panel-title:after {
    display: none;
}

#pricing-detail .panel-title a {
    text-decoration: none;
}

#pricing-detail .table1 {
    border: 0;
    width: 100%;
    color: #303030;
    table-layout: fixed;
    vertical-align: middle;
    border-collapse: separate;
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 {
        display: block;
        overflow: hidden;
        table-layout: inherit;
    }
    #pricing-detail .table1 thead {
        display: none;
    }
    #pricing-detail .table1 tbody {
        float: left;
        width: 100%;
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #pricing-detail .table1 tr {
        float: left;
        width: 100%;
        clear: both;
        display: block;
        background: #fff;
    }
    #pricing-detail .table1 td,
    #pricing-detail .table1 th {
        display: block;
    }
}

#pricing-detail .table1 th.col1 {
    position: relative;
    border-bottom: 1px solid #e9e9e9;
}

#pricing-detail .table1 tr.even td,
#pricing-detail .table1 tr.even td.col3 {
    background: #f7f7f7;
}

#pricing-detail .table1 .col1 {
    width: 20%;
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 .col1 {
        width: 100%;
    }
}

#pricing-detail .table1 .col2 {
    width: 20%;
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 .col2 {
        width: 100%;
    }
}

#pricing-detail .table1 .col2 .col-holder {
    padding: 27px 0 100px;
}

#pricing-detail .table1 .col2 .price-box:after {
    margin-left: -17px;
}

#pricing-detail .table1 .col3.popular {
    width: 20%;
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 .col3.popular {
        width: 100%;
    }
}

#pricing-detail .table1 .col3.popular .col-holder,
#pricing-detail .table1 .col3.popular .price-box {
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
    box-shadow: 0 6px 20px rgba(0, 0, 0, .2);
}

#pricing-detail .table1 .col3.popular .price-box:after {
    top: -24px;
    font-size: 38px;
    line-height: 42px;
    margin-left: -19px;
}

#pricing-detail .table1 .col3.popular .heading-block {
    padding: 0;
}

#pricing-detail .table1 .col3.popular .heading-block .heading {
    color: #631884;
    background: #f8ca23;
    padding: 37px 0 22px;
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .col3.popular .heading-block .heading {
        padding: 26px 0 14px;
    }
    #pricing-detail .table1 .col2 h3 {
        font-size: 14px;
    }
    #pricing-detail .table1 .col3 h3 {
        font-size: 14px;
    }
    #pricing-detail .table1 .col4 h3 {
        font-size: 14px;
    }
    #pricing-detail .table1 .col5 h3 {
        font-size: 14px;
    }
}

#pricing-detail .table1 .col4 {
    width: 20%;
}

#pricing-detail .table1 .col5 {
    width: 20%;
}

#pricing-detail .table1 td {
    padding: 0;
    color: #303030;
    background: #fff;
    text-align: center;
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 td {
        font-size: 14px;
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 td {
        font-size: 12px;
        line-height: 26px;
    }
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 .col4 {
        width: 100%;
    }
    #pricing-detail .table1 .col5 {
        width: 100%;
    }
    #pricing-detail .table1 td {
        width: 100%;
        clear: both;
        float: left;
        display: block;
        font-size: 11px;
        text-align: left;
        border-style: solid;
        border-color: #e2e2e2;
        border-width: 1px 1px 0;
    }
    #pricing-detail .table1 td:before {
        width: 110px;
        font-size: 11px;
        background: #ccc;
        padding: 7px 5px;
        content: attr(title);
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
    }
}

#pricing-detail .table1 td>div {
    font-weight: bold;
    padding: 10px;
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 td>div {
        padding: 10px;
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 td>div {
        padding: 7px 10px;
    }
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 td>div {
        width: 61%;
        padding: 0 10px;
        display: inline-block;
        vertical-align: middle;
    }
}
#pricing-detail .table1 td.col1 {
    border: 0 solid #e3e3e3;
    text-align: left;
    border-width: 0 1px;
}

#pricing-detail .table1 td.top-border {
    border-top: 3px solid #8641A6 !important;
    /*border: 0 solid #e3e3e3;*/
    text-align: center;
    /*border-width: 0 1px;*/
}

#pricing-detail .table1 td.bottom-border {
    border-bottom: 3px solid #8641A6 !important;
    /*border: 0 solid #e3e3e3;*/
    text-align: center;
    /*border-width: 0 1px;*/
}

#pricing-detail .table1 td.col1>div {
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 td.col1>div {
        padding-left: 10px;
    }
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 td.col1 {
      border-top: 1px solid #e3e3e3 !important;
      border-bottom: 1px solid #e3e3e3 !important;
      border-width: 1px 1px 0;
    }
    #pricing-detail .table1 td.col1>div {
        padding: 0 10px;
    }
    #pricing-detail .table1 td.col2 {
      border-top: 1px solid #e3e3e3 !important;
      border-bottom: 1px solid #e3e3e3 !important;
    }
    #pricing-detail .table1 td.col3 {
      border-top: 1px solid #e3e3e3 !important;
      border-bottom: 1px solid #e3e3e3 !important;
    }
    #pricing-detail .table1 td.col4 {
      border-top: 1px solid #e3e3e3 !important;
      border-bottom: 1px solid #e3e3e3 !important;
    }
    #pricing-detail .table1 td.col5 {
      border-top: 1px solid #e3e3e3 !important;
      border-bottom: 1px solid #e3e3e3 !important;
    }
}

#pricing-detail .table1 td.col2 {
    border-right: 1px solid #e3e3e3
}

#pricing-detail .table1 td.col3 {
    padding: 0;
    position: relative;
    /*-webkit-box-shadow: 0 9px 15px rgba(0, 0, 0, .2);
    box-shadow: 0 9px 15px rgba(0, 0, 0, .2);*/
    border-right: 1px solid #e3e3e3
}

#pricing-detail .table1 td.col3 .btn-primary {
    padding: 10px;
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 td.col3 .btn-primary {
        min-width: 150px;
        padding: 12px 50px 12px 20px;
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 td.col3 .btn-primary {
        margin: 0;
        font-size: 12px;
        min-width: inherit;
        padding: 10px 10px 10px 10px;
    }
}

#pricing-detail .table1 td.col3 .btn-primary:after {
    top: 18px;
    right: 39px;
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 td.col3 .btn-primary:after {
        top: 10px;
        right: 10px;
    }
}

#pricing-detail .table1 td.col4 {
    width: 20%;
}

#pricing-detail .table1 td.col5 {
    width: 20%;
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 td.col3 {
        box-shadow: none;
    }
    #pricing-detail .table1 td.col3 .btn-primary {
        padding: 7px 40px 7px 10px;
    }
    #pricing-detail .table1 td.col3 .btn-primary:after {
        top: 7px;
    }
    #pricing-detail .table1 td.col4 {
        width: 100%;
    }
    #pricing-detail .table1 td.col5 {
        width: 100%;
    }
}

#pricing-detail .table1 td.col4 {
    border-right: 1px solid #e3e3e3
}

#pricing-detail .table1 td.col5.last-child {
    border-right: 1px solid #e3e3e3
}

#pricing-detail .table1 .img-holder {
    left: 0;
    top: auto;
    bottom: 0;
    right: -19px;
    position: absolute;
    border-bottom: 1px solid #e9e9e9
}

#pricing-detail .table1 .img-holder img {
    display: block;
    max-width: 100%;
    height: auto
}

#pricing-detail .table1 .heading-block {
    color: #fff;
    position: relative;
    padding: 29px 0 0;
    text-align: center
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .img-holder {
        right: 0
    }
    #pricing-detail .table1 .heading-block {
        padding: 10px 0 0
    }
}

#pricing-detail .table1 .heading-block .heading {
    display: block;
    font-size: 22px;
    font-weight: 900;
    line-height: 26px;
    padding: 15px 10px;
    background: #9b62b5;
    text-transform: uppercase
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .heading-block .heading {
        font-size: 18px;
        padding: 15px 0;
        line-height: 22px
    }
}

#pricing-detail .table1 .heading-block .heading span {
    font-weight: 700;
    text-transform: uppercase
}

#pricing-detail .table1 .price-box {
    height: 100px;
    position: relative;
    background: #712095;
    padding: 10px 0 17px
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 .price-box {
        height: 110px
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .price-box {
        height: 90px
    }
    #pricing-detail .table1 .price-box:after {
        top: -21px
    }
}

#pricing-detail .table1 .price-box .price-holder {
    width: 100%;
    height: 100%;
    display: table
}
#pricing-detail .table1 .price-box .since {
    margin: 20px 0 3px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
    vertical-align: bottom
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 .price-box .since {
        display: block
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .price-box .since {
        font-size: 12px;
        line-height: 18px
    }
}

#pricing-detail .table1 .price-box .since sup {
    margin-left: 5px
}

#pricing-detail .table1 .price-box .price-block {
    display: inline-block;
    vertical-align: middle
}

#pricing-detail .table1 .price-box .price {
    display: inline-block;
    color: #712095;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 9px;
    line-height: 24px;
    border-radius: 17px;
    background: #f8ca23
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .price-box .price {
        font-size: 14px;
        line-height: 20px
    }
}

#pricing-detail .table1 .price-box .price span {
    font-size: 12px;
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .price-box .price span {
        font-size: 12px
    }
}

#pricing-detail .table1 .tooltip {
    top: -14px;
    left: 50%;
    opacity: 1;
    z-index: 100;
    width: 128px;
    height: 32px;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    line-height: 32px;
    margin-left: -61px;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    background: #712095;
    text-transform: uppercase
}

@media only screen and (max-width:1199px) {
    #pricing-detail .table1 .btn-primary {
        margin: 10px;
        font-size: 14px;
        min-width: 150px;
        padding: 10px 50px 10px 20px
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .btn-primary {
        margin: 0;
        font-size: 12px;
        min-width: inherit;
        padding: 10px 10px 10px 10px
    }
}


@media only screen and (max-width:1199px) {
    #pricing-detail .table1 .btn-primary:after {
        top: 10px;
        width: 20px;
        right: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 16px
    }
}

@media only screen and (max-width:991px) {
    #pricing-detail .table1 .btn-primary:after {
        right: 10px
    }
}

@media only screen and (max-width:767px) {
    #pricing-detail .table1 .btn-primary {
        padding: 7px 40px 7px 10px
    }
    #pricing-detail .table1 .btn-primary:after {
        top: 7px
    }
    #myModal .modal-dialog {
        margin: 0;
        width: 100%;
        padding: 10px
    }
}


/* MODAL END */

/* START FAQ */

.accordion {
    margin-bottom: 15px;
}

.accordion-title {
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.accordion-title a {
    position: relative;
    color: #333;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    display: block;
    padding: 14px 20px;
    -webkit-transition: all .27s cubic-bezier(0, 0, .58, 1) 0s;
    -moz-transition: all .27s cubic-bezier(0, 0, .58, 1) 0s;
    -o-transition: all .27s cubic-bezier(0, 0, .58, 1) 0s;
    transition: all .27s cubic-bezier(0, 0, .58, 1) 0s;
}

.accordion-title a.active {
    background-color: #EEF0F3;
    border-color: #EEF0F3;
    color: #333;
    cursor: default;
}

.accordion-title a:after {
content: "\f067";
font-family: FontAwesome;
    font-size: 10px;
    position: absolute;
    right: 20px;
    color: #333;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.accordion-title a.active:after {
    content: "\f068";
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.accordion-content {
    font-size: 14px;
    line-height: 1.8;
    padding: 20px 35px;
    background-color: #fafafa;
    border: 1px solid #EEF0F3;
    border-top-color: #EEF0F3;
}

.mockup-text {
    padding-top: 140px;
    padding-bottom: 140px
}

.mockup {
    position: relative;
}

.mockup img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* END FAQ */

/* START VIDEO */
#video {
    width: 100%;
    height: auto;
    background: url("../img/bg-video.jpg") no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 0;
}
#video .overlay {
    padding: 100px 0 80px 0;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}
#video-item i {
    color: #fff;
}
#video-item i:hover {
    color: #fddf4d;
}
#video h5 {
    margin-top: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}
/* END VIDEO */

/*START SIGN UP*/
.contact-form {
    padding: 0px !important;
}

.signup {
    background-image: url("../img/bg-signup.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.signup-overlay {
    padding: 60px 0;
    background-color: rgba(60, 37, 102, 0.75);
}
.section-title-white {
    font-family: "SFUFuturaRegular",sans-serif;
    color: #fff!important;
    position:relative;
}
.signup-overlay .form-control {
    text-align: left;
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #3c2566;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    /*opacity: .8;*/
    outline: 0px !important;
    font-weight: 600;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;

}
.form-control,
.form-control:active,  {
    border: none;
    border-bottom: 5px solid #fddf4d;
}
::-webkit-input-placeholder {
  color: #cccccc !important;
}
::-moz-placeholder {
  color: #cccccc !important;
}
:-ms-input-placeholder {
  color: #cccccc !important;
}
:-moz-placeholder {
  color: #cccccc !important;
}
input[type=text]:focus {
    background-color: rgba(253, 223, 77, 0.75);
}
#message {
    height: 100px;
    resize: none;
}
#message:focus {
    background-color: rgba(253, 223, 77, 0.75);
}
#email:focus {
    background-color: rgba(253, 223, 77, 0.75);
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
    margin-top: 100px;
    margin-bottom: -10px;
    font-weight: 600;
    background-color: #fddf4d;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: #3c2566;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}
.submit-btn:hover {
    background: #3c2566;
    color: #fddf4d;
    border-color: #3c2566;
}
/*END SIGN UP*/
/*START FOOTER*/
.address {
    background-color: #3c2566;
}
.footer {
    background-color: #fddf4d;
    padding-bottom: 10px;
    padding-top: 20px;
}
#copyright {
    text-align: center;
    width: 100%;
}
#copyright p {
    color: #3c2566;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
#copyright p a {
    text-decoration: none;
    color: #3c2566;
}
.titles {
    padding-top: 50px;
    padding-bottom: 50px;

}
.titles h4 {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.titles h4:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin-left: -30px;
}
.titles p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}
.successful {
    display: none;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.error-captcha {
    font-weight: 900;
    color: #ff0000;
    font-size: 14px;
}
/*END FOOTER*/


/*================ RESPONSIVE ================*/

@media only screen and (max-width: 320px) {

}

@media only screen and (max-width:360px) {
    .section-title h2 {
        font-size: 24px
    }
    .single-slide-item h3 {
        font-size: 25px !important;
        letter-spacing: 1px;
    }
    .single-slide-item h2 {
        font-size: 20px !important;
    }
    #price .pricing-item {
        width: 90%;
    }
    .hr-text:before {
        content: '';
        background: -webkit-linear-gradient(left, transparent, #000, transparent);
        background: linear-gradient(to right, transparent, #683cba, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 8px;
    }
    .hr-text:after {
        font-size: 20px;
    }
    #price .btn-lg {
        padding: 8px 38px;
    }
    .pricing-title {
        margin: 13px 0px 0px;
    }
    .pricing-item h3 {
        margin-top: 0px;
        padding-top: 5px;
        font-size: 12px;
        letter-spacing: 2px !important;
    }
    .pricing-item h4 {
        font-size: 15.6px !important;
    }
    .pricing-item h1 {
        font-size: 57px;
    }
    .pricing-body {
        padding-bottom: 10px;
    }
    #pricing-detail .table1 .btn-primary {
        padding: 7px 10px 7px 10px;
    }
    #pricing-detail .table1 td.col3 .btn-primary {
        padding: 7px 10px 7px 10px;
    }
    #price .btn-lg {
        padding: 8px 34px;
    }
    /* .g-recaptcha {
        overflow: hidden;
    } */
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
@media only screen and (max-width:480px) {
    .section-title h2 {
        font-size: 30px
    }
    .single-slide-item h3 {
        letter-spacing: 1px;
    }
    .menu-top {
        background-color: #3c2566
    }
    .navbar-default .navbar-nav > li > a {
        color: #fff  !important;
    }
    .menu-top {
        color: #fff !important;
        margin-left: 0px;
    }
    .service p {
        margin-bottom: 50px;
    }
    .section-titles p {
        margin: 0px;
    }
    .section-titles h3 {
        margin: 0px;
    }
    .section-titles h4 {
        margin: 0px;
    }
    .pricing-item h3 {
        font-size: 17px;
    }
    .pricing-item h4 {
        font-size: 21.6px;
    }
    .pricing-body {
        padding-bottom: 7px;
    }
    .pricing-item .pricing-body .pricing-title h2 {
        font-size: 20px;
    }
}
@media only screen and (max-width:768px) {
    .service h4 {
        font-size: 10px;
    }
    .service h5 {
        font-size: 8px;
    }
    .section-title h2 {
        text-align: center
    }
    .navbar-default .navbar-nav > li > a {
        margin-top: 10px;
        padding: 8px;
    }
    .menu-top {
        background-color: #3c2566
    }
    .section-title p {
        width: 100%;
    }
    .single-slide-item p {
        width: 100%
    }
    .single-slide-item h3 {
        font-size: 30px;
    }
    .single-slide-item h2 {
        font-size: 40px;
    }
    .home_text p {
        width: 100%
    }
    .feature_gcall ul {
        margin: 0;
    }
    .feature_gcall h3 {
        margin-left: 50px;
        font-size: 14px;
        padding: 5px 0;
        border: 2px solid #fff;
    }
    .section-titles {
        margin-bottom: 0;
    }
}
@media only screen and (max-width:991px) {
    .service p {
        margin-bottom: 20px !important;
    }
    .menu-top {
        margin-left: 0px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 10px;
    }
    .navbar-brand img {
        margin-left: 0px;
    }
    .background {
        display: none;
    }
    .feature_gcall img {
        display: none;
    }
    .feature_gcall ul{
        margin: 0;
    }
    .feature_gcall h3 {
        margin-left: 50px;
        font-size: 14px;
        padding: 5px 0;
        border: 2px solid #fff;
    }
}
@media only screen and (max-width:1199px) {
    .service h4 {
        font-size: 14px;
    }
    .service h5 {
        font-size: 10px;
    }
    .service p{
        margin-bottom: 50px;
    }
    .feature_gcall img {
        margin-left: 20px;
    }
    .bg_whygcall {
        bottom: -367px;
    }
    .pricing-item {
        margin-bottom: 20px;
    }
}
